.card {
  border: none;
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: hsla(205,46%,30%,1);
  background: linear-gradient(90deg,hsla(205,46%,30%,1)0%,hsla(205,46%,30%,1)100%);
}

  .card h1 {
    color: white;
  }

label {
  color: white;
}

h1.nav{

  height: 50px;
   text-align: center; 
   margin: 0 auto;
   
}

.center {
  background-color:#7ad7f0;
  display: flex;
  justify-content: center;
}
.nav{

  background-color:#7ad7f0;
}
.nav-link{

  color:#b99976;
}
.image{
  width: 100%;
}
li{

  padding: 0px 100px;
  padding-left: 170px;
}

/* div.card{

       margin-right: 1500px;
} */

.header{
  top: 0;
     left: 0;
     position: fixed;
     z-index: 3000;
     width: 100%;

}

