<div class="header">

  
  <div class="center">
    <h1 class="nav" style="background-color:#7ad7f0; color:#987554">
      🇼‌🇪‌🇱‌🇨‌🇴‌🇲‌🇪‌ 🇹‌🇴‌ 🇭‌🇴‌🇸‌🇵‌🇮‌🇹‌🇦‌🇱‌ 🇸‌🇪‌🇷‌🇻‌🇮‌🇨‌🇪‌🇸‌
    </h1>
  </div>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active"  aria-current="page" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/docters">Doctors</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/patients">Patients</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/New-Doctor">Add Doctor</a>
    </li>
  </ul>
  </div>
<form>
  <div class="card">
  <div class="mb-3">
    <label for="exampleInputPatientName" class="form-label">Patient Name:</label>
    <input type="text" class="form-control" id="exampleInputPatientName">
  </div>
  <div class="mb-3">
    <label for="exampleInputMobile" class="form-label">Mobile Number</label>
    <input type="number" class="form-control" id="exampleInputMobile">
  </div>
  <div class="mb-3">
    <label for="exampleInputMobile" class="form-label">Appointment Date</label>
    <input type='date' class="form-control" />
  </div>
  <div class="mb-3" >
    <label for="exampleInputMobile" class="form-label">Appointment time</label>
    <input type='time' class="form-control" />
  </div>
  <div class="mb-3">
    <label for="exampleInputReason" class="form-label">Reason for Appointment</label>
    <input type="text" class="form-control" id="exampleInputReason">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
